<div className="flex col-span-3 lg:px-12 px-1 mt-5 gap-5">
  


<div className="flex items-center justify-center col-span-3 gap-7 lg:mx-10 mx-1 mt-3">
    <div className="flex items-center w-full border border-neutral-200 dark:border-neutral-700 rounded-lg">
        <input className="w-full text-sm bg-l-fg dark:bg-d-h py-2 px-3 rounded-lg" placeholder="You send">
        <div className="border-l border-neutral-200 dark:border-neutral-700 py-2 px-3 dark:bg-d-h rounded-r-lg">
            <span className="text-sm">ETH</span>
        </div>
    </div>
    <svg viewBox="0 0 24 24" role="presentation" className="text-4xl text-black dark:text-white cursor-pointer" style="width: 3.75rem; height: 3.75rem;">
        <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z" style="fill: currentcolor;">

        </path>
    </svg>
    <div className="flex items-center w-full border border-neutral-200 dark:border-neutral-700 rounded-lg">
        <input className="w-full text-sm bg-l-fg dark:bg-d-h py-2 px-3 rounded-lg" placeholder="You receive" disabled=""><div className="border-l border-neutral-200 dark:border-neutral-700 py-2 px-3 dark:bg-d-h rounded-r-lg">
            <span className="text-sm">ETH</span>
        </div>
    </div>
</div>
<div className="w-full flex flex-col items-center justify-center mt-5 col-span-3 px-12 lg:px-1">
    <p className="mb-2 text-lg">Receiving Address</p>
    <div className="flex border border-neutral-200 dark:border-neutral-700 rounded-lg ">
        <input className="w-full text-sm bg-l-fg dark:bg-d-h py-2 px-3 rounded-lg" placeholder="Your ETH address">
        <div className="border-l border-neutral-200 dark:border-neutral-700 py-2 px-3 rounded-r-lg">
            <span className="text-sm">ETH</span>
        </div>
    </div>
</div>
<div className="w-full flex items-center justify-center mt-5 col-span-3 px-12 lg:px-1">
    <button className="bg-l-fg dark:bg-d-h text-black dark:text-white rounded-md border-2 dark:border-neutral-700 px-12 py-2">Exchange</button>
</div>
<div className="col-span-3 w-full text-sm mt-5   flex justify-center items-center gap-2">
    
</div><div className="col-span-3 w-full text-sm mt-5 flex justify-center items-center gap-2"></div></div>

