@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base {
  @font-face {
    font-family: 'Verctex';
    src: url('/fonts/VectrexWeb-Bold.woff2') format('woff2');
         /* url('/fonts/MyFont.woff') format('woff'); */
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'GT-Pressura-Mono-Bold';
    src: url('/fonts/GT-Pressura-Mono-Bold.woff2') format('woff2');
         /* url('/fonts/MyFont.woff') format('woff'); */
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'GT-Pressura-Mono-Light';
    src: url('/fonts/GT-Pressura-Mono-Light.woff2') format('woff2');
         /* url('/fonts/MyFont.woff') format('woff'); */
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'GT-Pressura-Mono-Regular';
    src: url('/fonts/GT-Pressura-Mono-Regular.woff2') format('woff2');
         /* url('/fonts/MyFont.woff') format('woff'); */
    font-weight: normal;
    font-style: normal;
  }
    h1 {
      @apply text-2xl; /* 24 34WWWWWWWWWWWWW */
    }
    h2 {
      @apply text-xl; /*  20 */
    }
    h3 {
      @apply text-lg;  /*  18 */
    }
    h4 {
      @apply text-base; /*  16 */
    }
    h5 {
      @apply text-sm; /*  14 */
    }
    h6 {
        
        @apply text-xs; /*  12 */
    }

   
  }
/*   
  @layer components {
    .btn-blue {
      @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
    }
  } */
  
  @layer utilities {
    /* .bg-d-h {
      border-color: #D4D4D4;
    } */
    /* .filter-grayscale {
      filter: grayscale(100%);
    } */
  }

 