@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base {
  @font-face {
    font-family: 'Verctex';
    src: url('/fonts/VectrexWeb-Bold.woff2') format('woff2');
         /* url('/fonts/MyFont.woff') format('woff'); */
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'GT-Pressura-Mono-Bold';
    src: url('/fonts/GT-Pressura-Mono-Bold.woff2') format('woff2');
         /* url('/fonts/MyFont.woff') format('woff'); */
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'GT-Pressura-Mono-Light';
    src: url('/fonts/GT-Pressura-Mono-Light.woff2') format('woff2');
         /* url('/fonts/MyFont.woff') format('woff'); */
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'GT-Pressura-Mono-Regular';
    src: url('/fonts/GT-Pressura-Mono-Regular.woff2') format('woff2');
         /* url('/fonts/MyFont.woff') format('woff'); */
    font-weight: normal;
    font-style: normal;
  }
    h1 {
      @apply text-2xl; /* 24 34WWWWWWWWWWWWW */
    }
    h2 {
      @apply text-xl; /*  20 */
    }
    h3 {
      @apply text-lg;  /*  18 */
    }
    h4 {
      @apply text-base; /*  16 */
    }
    h5 {
      @apply text-sm; /*  14 */
    }
    h6 {
        
        @apply text-xs; /*  12 */
    }

   
  }
  @layer components {
    .img-btn {
      @apply h-48 text-black dark:text-white rounded-t-md border-2 border-b-4  rounded-lg pt-3 border-gray-500 hover:border-black dark:hover:border-white;
    }
    .img-sign{
      @apply fill-slate-500 hover:fill-black dark:fill-gray-300  dark:hover:fill-white;
    }
    .eq-sign{
      @apply text-slate-500 hover:text-black dark:text-gray-300  dark:hover:text-white;
    }
  
    .c-input{
      @apply w-full text-sm font-GT_Pressura_Mono_Regular bg-transparent text-center py-3 px-3  rounded-md focus:outline-none focus:ring-2 focus:ring-black dark:focus:ring-white focus:border-transparent;
    }
    .c-div {
      @apply relative flex items-center w-[187px] border-2 border-neutral-200 dark:border-neutral-500  rounded-lg;
    }
    small-btn {
      @apply border-2 border-b-4 border-neutral-400 py-1 px-2 rounded-xl hover:border-black dark:hover:border-white;
    }

  }
    /*   
    .btn-blue {
      @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
   */
  
  @layer utilities {
    
    /* .bg-d-h {
      border-color: #D4D4D4;
    } */
    /* .filter-grayscale {
      filter: grayscale(100%);
    } */
  }

 